header {
    width: 77%;
    text-align: justify;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 15px solid black;
    padding: 1em;
    background-color: white;
}

h1
{
    background-color: black;
    color: white;
}

h3
{
    background-color: black;
    color: white;
}

body {
    
    padding: 1em;
    background-color: rgb(255, 235, 235);
    margin-left: 10%;
    margin-right: 10%;
}

section {
    background-color: white;
    width: 80%;
    text-align: justify;
    padding: 5px;

}

footer
{
    background-color: black;
    color: white;
}

a
{
    color: rgb(126, 178, 255);
}

a:hover

{   

color: black;
}

img
{
    width: 300px;
}

.projects a
{
    color: white;
    background: black;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.projects a:hover
{
   background: rgba(47, 48, 97, 80%);
}

.experience section

{
    background: black;
    color: white;
}
